<a href="https://colab.research.google.com/github/Manilab2309/ia-machine-learning/blob/main/lab/NB_analyst_broker_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Welcome aboard! Ramon!, now you're working on Jupyter & Visual Studio Code")

# ***Inicialization***
Global configuration

In [ ]:
# Import libraries
import pandas as pd
import datetime
import calendar
import math

# Colab limits by default table size to 25 columns
# from google.colab.data_table import DataTable
# DataTable.max_columns = 100
# pd.set_option('display.max_rows', None) Uncomment if you wish to see entire data table (not recommended)

# Data Loader
Read sources:


*   Ibex35
*   IPC
*   Euribor
*   Gold
*   Brent
*   Dolar/Euro
*   Mortality EU

## Read Ibex35 2023
Read from Github.com Ibex35 2023

Source: https://es.finance.yahoo.com/quote/%5EIBEX/history

In [ ]:
df_ibex_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/ibex35_2023.csv')

## Read IPC 2023
Read from Github.com IPC 2023 in this example we added two interesting clauses
 - on_bad_lines='skip' --> Very useful to force read csv files
 - sep = ';'           --> To customize char delimiter, by default is , When you get csv from excel, its set ; as delimiter then conflicts with panda parser.

Source: https://www.ine.es/prensa/ipc_tabla.htm

In [ ]:
df_ipc_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/IPC-2023.csv', on_bad_lines='skip', sep = ';')

## Read Euribor 2023
Read from Github.com Euribor 2023

Source: https://datosmacro.expansion.com/hipotecas/euribor?dr=2024-01

In [ ]:
df_euribor_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Euribor-2023.csv', on_bad_lines='skip', sep = ';')

## Read Gold 2023
Read from Github.com Oro 2023

Source: https://es.finance.yahoo.com/quote/GC%3DF/history

In [ ]:
df_gold_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Oro-2023.csv', on_bad_lines='skip', sep = ';')

## Read Brent 2023
Read from Github.com Petroleo 2023
Source: https://es.finance.yahoo.com/quote/BZ%3DF/history

In [ ]:
df_brent_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Brent-2023.csv', on_bad_lines='skip', sep = ';')

## Read Dolar/Euro 2023
Read from Github.com $/Euro 2023

Source: https://es.finance.yahoo.com/quote/EURUSD%3DX/history

In [ ]:
df_dolar_euro_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Dolar-Euro-2023.csv', on_bad_lines='skip', sep = ';')

## Excess mortality by month Euro 2023
Read from Github.com Mortality European

Source: https://ec.europa.eu/eurostat/databrowser/view/demo_mexrt/default/table?lang=en

In [ ]:
df_excess_mortality_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Excess_mortality_by_month_2023.csv', on_bad_lines='skip', sep = ',')

# Data Formatter

 Global considerations:
 - Rename columns to be more specific
 - Floats will have . as separator decimal position
 - Floats will have only 2 decimal positions
 - Dates will have this format: 2023-01-02

## Formatter Ibex35 2023

Ibex35 csv source needs these format actions:

- Rename columns
- Set . as decimal separator token
- set 2 float positions
- Convert object to float64

In [ ]:
# Actual situation
df_ibex_2023.head()

In [ ]:
# Actual datatypes
df_ibex_2023.dtypes

In [ ]:
# Rename columns for later merge with other tables with similar named columns
df_ibex_2023 = df_ibex_2023.rename(columns={'Fecha': 'Date', 'Open': 'Ibex Open','High': 'Ibex High','Low': 'Ibex Low','Close': 'Ibex Close','Adj Close': 'Ibex Adj Close','Volume': 'Ibex Volume'})
df_ibex_2023

In [ ]:
# 8297.900391 (float64) --> 8297.90 (float64) We only need 2 decimal positions and . with decimal separator token char
pd.options.display.float_format = '{:.2f}'.format
df_ibex_2023

## Formatter IPC 2023

IPC csv needs these format corrections:
- Rename columns
- Delete % char
- set . as decimal token delimiter
- set 2 float positions
- Dates: dec-23 --> 2023-12-01 (for getting this, we will need an expansion table)

In [ ]:
# Actual situation
df_ipc_2023.head()

In [ ]:
# Actual datatypes
df_ipc_2023.dtypes

In [ ]:
# Rename column if you need
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

#In this example, lets translate headers to english and add % simbol, remember cells must be desired numbers or float format
df_ipc_2023 = df_ipc_2023.rename(columns={'Mes IPC': 'Date'})
df_ipc_2023 = df_ipc_2023.rename(columns={'IPC Interanual': 'IPC Interanual %'})
df_ipc_2023 = df_ipc_2023.rename(columns={'IPC Acum Enero': 'IPC Acum Jan %'})
df_ipc_2023 = df_ipc_2023.rename(columns={'IPC Variacion Mensual': 'IPC Month Variation %'})

# We can define variables to use in another cells
column_A_Renamed = 'Date'
column_B_Renamed = 'IPC Interanual %'
column_C_Renamed = 'IPC Acum Jan %'
column_D_Renamed = 'IPC Month Variation %'

df_ipc_2023.head()

In [ ]:
# Remove % char from cells
df_ipc_2023[column_B_Renamed] = df_ipc_2023[column_B_Renamed].str.replace("%", "")
df_ipc_2023[column_C_Renamed] = df_ipc_2023[column_C_Renamed].str.replace("%", "")
df_ipc_2023[column_D_Renamed] = df_ipc_2023[column_D_Renamed].str.replace("%", "")

df_ipc_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
df_ipc_2023[column_B_Renamed] = df_ipc_2023[column_B_Renamed].str.replace(",", ".")
df_ipc_2023[column_C_Renamed] = df_ipc_2023[column_C_Renamed].str.replace(",", ".")
df_ipc_2023[column_D_Renamed] = df_ipc_2023[column_D_Renamed].str.replace(",", ".")
df_ipc_2023.head()

In [ ]:
# Convert object to float
df_ipc_2023[column_B_Renamed] = df_ipc_2023[column_B_Renamed].astype('float64')
df_ipc_2023[column_C_Renamed] = df_ipc_2023[column_C_Renamed].astype('float64')
df_ipc_2023[column_D_Renamed] = df_ipc_2023[column_D_Renamed].astype('float64')
df_ipc_2023.dtypes

In [ ]:
# We need to transform the dates from: dic-23 to 2023-12-01, then we will have an aproximation to standard date time zones
# Documentation: https://strftime.org/
# Utils: https://strftime.net/

df_ipc_2023['Date'] = pd.to_datetime(df_ipc_2023['Date'],format='%b-%y').dt.strftime('%Y-%m-%d')
df_ipc_2023

In [ ]:
# Now we need expand the table

# Declare new Dataframe
df_ipc_2023_expanded = pd.DataFrame()
df_ipc_2023_expanded = pd.DataFrame(columns=[column_A_Renamed, column_B_Renamed, column_C_Renamed, column_D_Renamed])
# Variables column_x_Renamed are initialized in previos cell execution

for i in df_ipc_2023.index:

    instantDate = datetime.datetime.strptime(df_ipc_2023[column_A_Renamed][i], '%Y-%m-%d')
    year = instantDate.year
    month = instantDate.month
    num_days = calendar.monthrange(year, month)[1]
    days = [datetime.date(year, month, day).strftime('%Y-%m-%d') for day in range(1, num_days+1)]

    for d in days:
      # Add values to new dataframe
      df_ipc_2023_expanded.loc[len(df_ipc_2023_expanded.index)] = [d, df_ipc_2023[column_B_Renamed][i], df_ipc_2023[column_C_Renamed][i],df_ipc_2023[column_D_Renamed][i]]

df_ipc_2023_expanded

## Formatter Euribor 2023

Euribor source needs following format actions:
- Delete % char
- Set . as decimal token separator
- Convert object to float

In [ ]:
# Actual situation
df_euribor_2023.head()

In [ ]:
# Actual datatypes
df_euribor_2023.dtypes

In [ ]:
# Remove % char from cells
df_euribor_2023['Euribor Type'] = df_euribor_2023['Euribor Type'].str.replace("%", "")
df_euribor_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
df_euribor_2023['Euribor Type'] = df_euribor_2023['Euribor Type'].str.replace(",", ".")
df_euribor_2023.head()

In [ ]:
# Convert object to float
df_euribor_2023['Euribor Type'] = df_euribor_2023['Euribor Type'].astype('float64')
df_euribor_2023.dtypes

## Formatter Gold 2023

Gold 2023 csv needs these format corrections:
- Rename columns
- Set . as decimal separator token
- set 2 float positions
- Convert object to float64

In [ ]:
# Actual situation
df_gold_2023.head()

In [ ]:
# Actual data types
df_gold_2023.dtypes

In [ ]:
#In this example, lets translate headers to english and add % simbol, remember cells must be desired numbers or float format
df_gold_2023 = df_gold_2023.rename(columns={'Fecha': 'Date', 'Abrir': 'Gold Open','Máx.': 'Gold High','Mín.': 'Gold Low','Cierre': 'Gold Close','Cierre ajus': 'Gold Adj Close','Volumen': 'Gold Volume'})
df_gold_2023

# We can define variables to use in another cells
column_A_Renamed = 'Date'
column_B_Renamed = 'Gold Open'
column_C_Renamed = 'Gold High'
column_D_Renamed = 'Gold Low'
column_E_Renamed = 'Gold Close'
column_F_Renamed = 'Gold Adj Close'
column_G_Renamed = 'Gold Volume'

df_gold_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
df_gold_2023[column_B_Renamed] = df_gold_2023[column_B_Renamed].str.replace(",", ".")
df_gold_2023[column_C_Renamed] = df_gold_2023[column_C_Renamed].str.replace(",", ".")
df_gold_2023[column_D_Renamed] = df_gold_2023[column_D_Renamed].str.replace(",", ".")
df_gold_2023[column_E_Renamed] = df_gold_2023[column_E_Renamed].str.replace(",", ".")
df_gold_2023[column_F_Renamed] = df_gold_2023[column_F_Renamed].str.replace(",", ".")

# Delete thousand separator units in Volume column
df_gold_2023[column_G_Renamed] = df_gold_2023[column_G_Renamed].str.replace(".", "")

# Delete illegal char "-" in Volume
df_gold_2023[column_G_Renamed] = df_gold_2023[column_G_Renamed].str.replace("-", "0")

df_gold_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
df_gold_2023[column_B_Renamed] = df_gold_2023[column_B_Renamed].astype("float64")
df_gold_2023[column_C_Renamed] = df_gold_2023[column_C_Renamed].astype("float64")
df_gold_2023[column_D_Renamed] = df_gold_2023[column_D_Renamed].astype("float64")
df_gold_2023[column_E_Renamed] = df_gold_2023[column_E_Renamed].astype("float64")
df_gold_2023[column_F_Renamed] = df_gold_2023[column_F_Renamed].astype("float64")
df_gold_2023[column_G_Renamed] = df_gold_2023[column_G_Renamed].astype("int64")

df_gold_2023.dtypes

## Formatter Brent 2023

Brent 2023 csv needs these format corrections:

- Rename columns
- Set . as decimal separator token
- set 2 float positions
- Convert object to float64
- Delete . from Volume cells (we don't need . to indicate thousand units)
- Catch illegal values in Volume column "-" in a 185 row

In [ ]:
# Actual situation
# df_brent_2023.head(None) show all rows
df_brent_2023.iloc[180:190] # Show specific range rows, lets see a "-" in the serial, we need to transform it

In [ ]:
# Now in our 2023 Study we will merge previous table information (ibex and ipc and euribor and gold 2023) with same format dates and same column name in this case against brent 2023 table
# First we normalize columns name in input table brent 2023
df_brent_2023 = df_brent_2023.rename(columns={'Fecha': 'Date', 'Abrir': 'Brent Open','Máx.': 'Brent High','Mín.': 'Brent Low','Cierre': 'Brent Close','Cierre ajus': 'Brent Adj Close','Volumen': 'Brent Volume'})

# We can define variables to use in another cells
column_A_Renamed = 'Date'
column_B_Renamed = 'Brent Open'
column_C_Renamed = 'Brent High'
column_D_Renamed = 'Brent Low'
column_E_Renamed = 'Brent Close'
column_F_Renamed = 'Brent Adj Close'
column_G_Renamed = 'Brent Volume'

df_brent_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
# Delete . from volume, no need thousand units separator
df_brent_2023[column_B_Renamed] = df_brent_2023[column_B_Renamed].str.replace(",", ".")
df_brent_2023[column_C_Renamed] = df_brent_2023[column_C_Renamed].str.replace(",", ".")
df_brent_2023[column_D_Renamed] = df_brent_2023[column_D_Renamed].str.replace(",", ".")
df_brent_2023[column_E_Renamed] = df_brent_2023[column_E_Renamed].str.replace(",", ".")
df_brent_2023[column_F_Renamed] = df_brent_2023[column_F_Renamed].str.replace(",", ".")

df_brent_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
df_brent_2023[column_B_Renamed] = df_brent_2023[column_B_Renamed].astype("float64")
df_brent_2023[column_C_Renamed] = df_brent_2023[column_C_Renamed].astype("float64")
df_brent_2023[column_D_Renamed] = df_brent_2023[column_D_Renamed].astype("float64")
df_brent_2023[column_E_Renamed] = df_brent_2023[column_E_Renamed].astype("float64")
df_brent_2023[column_F_Renamed] = df_brent_2023[column_F_Renamed].astype("float64")

df_brent_2023.dtypes

In [ ]:
int(float(df_brent_2023[column_G_Renamed][3]))

In [ ]:
# Delete . in Volume cells, no need thousand separator
df_brent_2023[column_G_Renamed] = df_brent_2023[column_G_Renamed].str.replace(".", "")

df_brent_2023.head()

In [ ]:
# We need to fix 185 row Volumen value, its not a numeric, we will convert it to 0
df_brent_2023[column_G_Renamed] = df_brent_2023[column_G_Renamed].str.replace("-", "0")
df_brent_2023[column_G_Renamed] = df_brent_2023[column_G_Renamed].astype("int64")

df_brent_2023.dtypes

## Formatter Euro/Dolar 2023

Euro/Dolar 2023 csv needs these format corrections:

- Rename columns
- Set . as decimal separator token
- set 2 float positions
- Convert object to float64

In [ ]:
# Actual situation
df_dolar_euro_2023.head()

In [ ]:
# Actual data types
df_dolar_euro_2023.dtypes

In [ ]:
# Rename columns
df_dolar_euro_2023 = df_dolar_euro_2023.rename(columns={'Fecha': 'Date', 'Abrir': 'Eur-USD Open','Máx.': 'Eur-USD High','Mín.': 'Eur-USD Low','Cierre': 'Eur-USD Close','Cierre ajus': 'Eur-USD Adj Close'})
df_dolar_euro_2023

# We can define variables to use in another cells
column_A_Renamed = 'Date'
column_B_Renamed = 'Eur-USD Open'
column_C_Renamed = 'Eur-USD High'
column_D_Renamed = 'Eur-USD Low'
column_E_Renamed = 'Eur-USD Close'
column_F_Renamed = 'Eur-USD Adj Close'

df_dolar_euro_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
df_dolar_euro_2023[column_B_Renamed] = df_dolar_euro_2023[column_B_Renamed].str.replace(",", ".")
df_dolar_euro_2023[column_C_Renamed] = df_dolar_euro_2023[column_C_Renamed].str.replace(",", ".")
df_dolar_euro_2023[column_D_Renamed] = df_dolar_euro_2023[column_D_Renamed].str.replace(",", ".")
df_dolar_euro_2023[column_E_Renamed] = df_dolar_euro_2023[column_E_Renamed].str.replace(",", ".")
df_dolar_euro_2023[column_F_Renamed] = df_dolar_euro_2023[column_F_Renamed].str.replace(",", ".")

df_dolar_euro_2023.head()

In [ ]:
# Convert , to . for decimal delimiter token
df_dolar_euro_2023[column_B_Renamed] = df_dolar_euro_2023[column_B_Renamed].astype("float64")
df_dolar_euro_2023[column_C_Renamed] = df_dolar_euro_2023[column_C_Renamed].astype("float64")
df_dolar_euro_2023[column_D_Renamed] = df_dolar_euro_2023[column_D_Renamed].astype("float64")
df_dolar_euro_2023[column_E_Renamed] = df_dolar_euro_2023[column_E_Renamed].astype("float64")
df_dolar_euro_2023[column_F_Renamed] = df_dolar_euro_2023[column_F_Renamed].astype("float64")

df_dolar_euro_2023.dtypes

## Formatter Excess Mortality 2023

Excess Mortality 2023 csv needs these format corrections:

- Crop columns, we only need OBS_VALUE and TIME_PERIOD
- Rename columns
- Format Dates 2023-02 from to 2023-02-01
- Expand table by dates

In [ ]:
# Actual situation
df_excess_mortality_2023.head()

In [ ]:
# Actual data types
df_excess_mortality_2023.dtypes

In [ ]:
# Ok, we'll need only two columns, dates and values
df_excess_mortality_reduced_2023 = df_excess_mortality_2023[['TIME_PERIOD', 'OBS_VALUE']]
df_excess_mortality_reduced_2023

In [ ]:
# Rename columns
df_excess_mortality_reduced_2023 = df_excess_mortality_reduced_2023.rename(columns={'TIME_PERIOD': 'Date', 'OBS_VALUE': 'Excess Mortality UE %'})
df_excess_mortality_reduced_2023

In [ ]:
# Standarize the dates before expansion
df_excess_mortality_reduced_2023['Date'] = pd.to_datetime(df_excess_mortality_reduced_2023['Date'],format='%Y-%m').dt.strftime('%Y-%m-%d')
df_excess_mortality_reduced_2023

In [ ]:
# Now we need expand the table

# We can define variables to use in another cells
column_A_Renamed = 'Date'
column_B_Renamed = 'Excess Mortality UE %'

# Declare new Dataframe
df_excess_mortality_expanded_2023 = pd.DataFrame()
df_excess_mortality_expanded_2023 = pd.DataFrame(columns=[column_A_Renamed, column_B_Renamed])
# Variables column_x_Renamed are initialized in previos cell execution

for i in df_excess_mortality_reduced_2023.index:

    instantDate = datetime.datetime.strptime(df_excess_mortality_reduced_2023['Date'][i], '%Y-%m-%d')
    year = instantDate.year
    month = instantDate.month
    num_days = calendar.monthrange(year, month)[1]
    days = [datetime.date(year, month, day).strftime('%Y-%m-%d') for day in range(1, num_days+1)]

    for d in days:
      # Add values to new dataframe
      df_excess_mortality_expanded_2023.loc[len(df_excess_mortality_expanded_2023.index)] = [d, df_excess_mortality_reduced_2023[column_B_Renamed][i]]

df_excess_mortality_expanded_2023

In [ ]:
# To check table info after crop columns and expansion dates
df_excess_mortality_expanded_2023.info(verbose=True, show_counts=True)

# ***Resume Tables Size***

In [157]:
row_count_ibex_2023 = len(df_ibex_2023)
row_count_ipc_2023 = len(df_ipc_2023_expanded)
row_count_euribor_2023 = len(df_euribor_2023)
row_count_gold_2023 = len(df_gold_2023)
row_count_brent_2023 = len(df_brent_2023)
row_count_dolareu_2023 = len(df_dolar_euro_2023)
row_count_mort_2023 = len(df_excess_mortality_expanded_2023)

print ('Rows Ibex 2023 \t\t\t---> \t' + str(row_count_ibex_2023))
print ('Rows IPC 2023 \t\t\t---> \t' + str(row_count_ipc_2023))
print ('Rows Euribor 2023 \t\t---> \t' + str(row_count_euribor_2023))
print ('Rows Gold 2023 \t\t\t---> \t' + str(row_count_gold_2023))
print ('Rows Brent 2023 \t\t---> \t' + str(row_count_brent_2023))
print ('Rows USD/Eur 2023 \t\t---> \t' + str(row_count_dolareu_2023))
print ('Rows Excess Mortality 2023 \t---> \t' + str(row_count_mort_2023))

Rows Ibex 2023 			---> 	255
Rows IPC 2023 			---> 	365
Rows Euribor 2023 		---> 	259
Rows Gold 2023 			---> 	251
Rows Brent 2023 		---> 	251
Rows USD/Eur 2023 		---> 	260
Rows Excess Mortality 2023 	---> 	303

# ***Merge Tables IPC & Ibex 2023***

In [158]:
# Now in our 2023 Study we will merge ipc and ibex table information with same format dates and same column name in this case
dfm_ibex_ipc_2023 = df_ibex_2023.merge(df_ipc_2023_expanded, on="Date")
dfm_ibex_ipc_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %
0,2023-01-02,8297.90,8384.90,8283.70,8369.70,8369.70,92193500,5.90,-0.20,-0.20
1,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,5.90,-0.20,-0.20
2,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,5.90,-0.20,-0.20
3,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,5.90,-0.20,-0.20
4,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,5.90,-0.20,-0.20
...,...,...,...,...,...,...,...,...,...,...
250,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,3.10,3.10,0.00
251,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,3.10,3.10,0.00
252,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,3.10,3.10,0.00
253,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,3.10,3.10,0.00
254,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,3.10,3.10,0.00

In [159]:
# We check if result merged series has duplicated rows
dfm_ibex_ipc_2023.duplicated(keep=False).value_counts()

False    255
Name: count, dtype: int64

# ***Merge Tables IPC & Ibex & Euribor 2023***

In [161]:
# Merge tables
dfm_ibex_ipc_euribor_2023 = dfm_ibex_ipc_2023.merge(df_euribor_2023, on="Date")
dfm_ibex_ipc_euribor_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,Euribor Type
0,2023-01-02,8297.90,8384.90,8283.70,8369.70,8369.70,92193500,5.90,-0.20,-0.20,3.32
1,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,5.90,-0.20,-0.20,3.32
2,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,5.90,-0.20,-0.20,3.31
3,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,5.90,-0.20,-0.20,3.30
4,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,5.90,-0.20,-0.20,3.33
...,...,...,...,...,...,...,...,...,...,...,...
254,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,3.10,3.10,0.00,3.58
255,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,3.10,3.10,0.00,3.58
256,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,3.10,3.10,0.00,3.55
257,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,3.10,3.10,0.00,3.54
258,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,3.10,3.10,0.00,3.51

In [160]:
# We check if result merged series has duplicated rows
dfm_ibex_ipc_euribor_2023.duplicated(keep=False).value_counts()

False    251
True       8
Name: count, dtype: int64

In [164]:
# 8 rows duplicated after merge tables, we need to drop them, its important ignore index otherwise deleted rows will lost that indexes
dfm_ibex_ipc_euribor_2023_dropped = dfm_ibex_ipc_euribor_2023.drop_duplicates(subset=["Date"], ignore_index=True)
dfm_ibex_ipc_euribor_2023_dropped

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,Euribor Type
0,2023-01-02,8297.90,8384.90,8283.70,8369.70,8369.70,92193500,5.90,-0.20,-0.20,3.32
1,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,5.90,-0.20,-0.20,3.32
2,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,5.90,-0.20,-0.20,3.31
3,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,5.90,-0.20,-0.20,3.30
4,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,5.90,-0.20,-0.20,3.33
...,...,...,...,...,...,...,...,...,...,...,...
250,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,3.10,3.10,0.00,3.58
251,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,3.10,3.10,0.00,3.58
252,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,3.10,3.10,0.00,3.55
253,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,3.10,3.10,0.00,3.54
254,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,3.10,3.10,0.00,3.51

# ***Merge Tables IPC & Ibex & Gold 2023***

In [165]:
# Merge tables
dfm_ibex_ipc_euribor_gold_2023 = dfm_ibex_ipc_euribor_2023_dropped.merge(df_gold_2023, on="Date")
dfm_ibex_ipc_euribor_gold_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,Euribor Type,Gold Open,Gold High,Gold Low,Gold Close,Gold Adj Close,Gold Volume
0,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,5.90,-0.20,-0.20,3.32,1836.20,1839.70,1836.20,1839.70,1839.70,29
1,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,5.90,-0.20,-0.20,3.31,1845.60,1859.10,1845.60,1852.80,1852.80,25
2,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,5.90,-0.20,-0.20,3.30,1855.20,1855.20,1834.80,1834.80,1834.80,24
3,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,5.90,-0.20,-0.20,3.33,1838.40,1868.20,1835.30,1864.20,1864.20,26
4,2023-01-09,8691.00,8721.60,8661.40,8694.90,8694.90,215668200,5.90,-0.20,-0.20,3.33,1867.00,1880.00,1867.00,1872.70,1872.70,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,3.10,3.10,0.00,3.58,2035.80,2044.50,2033.00,2039.10,2039.10,228
214,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,3.10,3.10,0.00,3.58,2055.70,2068.70,2052.20,2057.10,2057.10,202
215,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,3.10,3.10,0.00,3.55,2067.30,2081.90,2064.80,2081.90,2081.90,586
216,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,3.10,3.10,0.00,3.54,2081.60,2087.30,2066.50,2073.90,2073.90,338
217,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,3.10,3.10,0.00,3.51,2068.00,2068.90,2062.10,2062.40,2062.40,47

In [166]:
# We check if result merged series has duplicated rows
dfm_ibex_ipc_euribor_gold_2023.duplicated(keep=False).value_counts()

False    218
Name: count, dtype: int64

# ***Merge Tables IPC & Ibex & Gold & Brent 2023***

In [167]:
# Merge tables
dfm_ibex_ipc_euribor_gold_brent_2023 = dfm_ibex_ipc_euribor_gold_2023.merge(df_brent_2023, on="Date")
dfm_ibex_ipc_euribor_gold_brent_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,...,Gold Low,Gold Close,Gold Adj Close,Gold Volume,Brent Open,Brent High,Brent Low,Brent Close,Brent Adj Close,Brent Volume
0,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,5.90,-0.20,-0.20,...,1836.20,1839.70,1839.70,29,86.04,87.02,81.77,82.10,82.10,27559
1,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,5.90,-0.20,-0.20,...,1845.60,1852.80,1852.80,25,82.23,82.67,77.72,77.84,77.84,24772
2,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,5.90,-0.20,-0.20,...,1834.80,1834.80,1834.80,24,78.09,79.96,77.61,78.69,78.69,28051
3,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,5.90,-0.20,-0.20,...,1835.30,1864.20,1864.20,26,78.81,80.57,78.05,78.57,78.57,23767
4,2023-01-09,8691.00,8721.60,8661.40,8694.90,8694.90,215668200,5.90,-0.20,-0.20,...,1867.00,1872.70,1872.70,62,78.48,81.37,78.34,79.65,79.65,29985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,3.10,3.10,0.00,...,2033.00,2039.10,2039.10,228,79.14,80.12,77.85,79.39,79.39,22237
214,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,3.10,3.10,0.00,...,2052.20,2057.10,2057.10,202,79.44,80.37,78.83,79.07,79.07,12334
215,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,3.10,3.10,0.00,...,2064.80,2081.90,2081.90,586,80.74,81.32,79.49,79.65,79.65,8282
216,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,3.10,3.10,0.00,...,2066.50,2073.90,2073.90,338,79.84,79.96,78.34,78.39,78.39,24301
217,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,3.10,3.10,0.00,...,2062.10,2062.40,2062.40,47,77.42,77.97,76.75,77.04,77.04,20115

In [168]:
# We check if result merged series has duplicated rows
dfm_ibex_ipc_euribor_gold_2023.duplicated(keep=False).value_counts()

False    218
Name: count, dtype: int64

# ***Merge Tables IPC & Ibex & Gold & Brent & Dolar/Euro 2023***

In [169]:
# Merge tables
dfm_ibex_ipc_euribor_gold_brent_eurUSD_2023 = dfm_ibex_ipc_euribor_gold_brent_2023.merge(df_dolar_euro_2023, on="Date")
dfm_ibex_ipc_euribor_gold_brent_eurUSD_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,...,Brent High,Brent Low,Brent Close,Brent Adj Close,Brent Volume,Eur-USD Open,Eur-USD High,Eur-USD Low,Eur-USD Close,Eur-USD Adj Close
0,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,5.90,-0.20,-0.20,...,87.02,81.77,82.10,82.10,27559,1.07,1.07,1.05,1.07,1.07
1,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,5.90,-0.20,-0.20,...,82.67,77.72,77.84,77.84,24772,1.05,1.06,1.05,1.05,1.05
2,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,5.90,-0.20,-0.20,...,79.96,77.61,78.69,78.69,28051,1.06,1.06,1.05,1.06,1.06
3,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,5.90,-0.20,-0.20,...,80.57,78.05,78.57,78.57,23767,1.05,1.06,1.05,1.05,1.05
4,2023-01-09,8691.00,8721.60,8661.40,8694.90,8694.90,215668200,5.90,-0.20,-0.20,...,81.37,78.34,79.65,79.65,29985,1.07,1.08,1.07,1.07,1.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
213,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,3.10,3.10,0.00,...,80.12,77.85,79.39,79.39,22237,1.09,1.10,1.09,1.09,1.09
214,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,3.10,3.10,0.00,...,80.37,78.83,79.07,79.07,12334,1.10,1.10,1.10,1.10,1.10
215,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,3.10,3.10,0.00,...,81.32,79.49,79.65,79.65,8282,1.10,1.11,1.10,1.10,1.10
216,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,3.10,3.10,0.00,...,79.96,78.34,78.39,78.39,24301,1.11,1.11,1.11,1.11,1.11
217,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,3.10,3.10,0.00,...,77.97,76.75,77.04,77.04,20115,1.11,1.11,1.10,1.11,1.11

In [170]:
# We check if result merged series has duplicated rows
dfm_ibex_ipc_euribor_gold_brent_eurUSD_2023.duplicated(keep=False).value_counts()

False    218
Name: count, dtype: int64

# ***Merge Tables IPC & Ibex & Gold & Brent & Dolar/Euro & Excess Mortality 2023***

WARNING: Due to pending January/December 2023 merge will crop both months

In [171]:
# Merge tables
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023 = dfm_ibex_ipc_euribor_gold_brent_eurUSD_2023.merge(df_excess_mortality_expanded_2023, on="Date")
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,...,Brent Low,Brent Close,Brent Adj Close,Brent Volume,Eur-USD Open,Eur-USD High,Eur-USD Low,Eur-USD Close,Eur-USD Adj Close,Excess Mortality UE %
0,2023-02-01,9048.00,9126.60,9046.20,9098.10,9098.10,236081200,6.00,0.70,0.90,...,82.37,82.84,82.84,28085,1.09,1.09,1.09,1.09,1.09,-1.10
1,2023-02-02,9144.10,9281.40,9133.10,9229.70,9229.70,364813600,6.00,0.70,0.90,...,81.24,82.17,82.17,24611,1.10,1.10,1.09,1.10,1.10,-1.10
2,2023-02-03,9214.20,9248.50,9155.60,9225.60,9225.60,297607800,6.00,0.70,0.90,...,79.62,79.94,79.94,24743,1.09,1.09,1.08,1.09,1.09,-1.10
3,2023-02-06,9174.80,9198.60,9124.80,9159.20,9159.20,148027100,6.00,0.70,0.90,...,79.09,80.99,80.99,31365,1.08,1.08,1.07,1.08,1.08,-1.10
4,2023-02-07,9165.80,9204.30,9149.80,9172.40,9172.40,145446500,6.00,0.70,0.90,...,81.18,83.69,83.69,24432,1.07,1.07,1.07,1.07,1.07,-1.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,2023-11-24,9906.40,9957.30,9901.90,9939.00,9939.00,93309200,3.20,3.10,-0.30,...,80.18,80.58,80.58,19356,1.09,1.09,1.09,1.09,1.09,7.70
175,2023-11-27,9927.30,9983.90,9925.80,9936.10,9936.10,112098900,3.20,3.10,-0.30,...,79.13,79.98,79.98,15161,1.09,1.10,1.09,1.09,1.09,7.70
176,2023-11-28,9925.20,10014.30,9919.50,10003.40,10003.40,118647800,3.20,3.10,-0.30,...,79.83,81.68,81.68,15095,1.10,1.10,1.09,1.10,1.10,7.70
177,2023-11-29,10018.40,10097.90,10018.40,10062.60,10062.60,129372500,3.20,3.10,-0.30,...,80.96,83.10,83.10,8045,1.10,1.10,1.10,1.10,1.10,7.70
178,2023-11-30,10079.30,10103.80,10053.80,10058.20,10058.20,252839300,3.20,3.10,-0.30,...,82.67,82.83,82.83,59320,1.10,1.10,1.09,1.10,1.10,7.70

In [174]:
# We check if result merged series has duplicated rows
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023.duplicated(keep=False).value_counts()

False    179
Name: count, dtype: int64

In [178]:
# Let's check thetypes fields, its important avoid object types, use float or int
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179 entries, 0 to 178
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   179 non-null    object
 1   Ibex Open              179 non-null    float64
 2   Ibex High              179 non-null    float64
 3   Ibex Low               179 non-null    float64
 4   Ibex Close             179 non-null    float64
 5   Ibex Adj Close         179 non-null    float64
 6   Ibex Volume            179 non-null    int64
 7   IPC Interanual %       179 non-null    float64
 8   IPC Acum Jan %         179 non-null    float64
 9   IPC Month Variation %  179 non-null    float64
 10  Euribor Type           179 non-null    float64
 11  Gold Open              179 non-null    float64
 12  Gold High              179 non-null    float64
 13  Gold Low               179 non-null    float64
 14  Gold Close             179 non-null    float64
 15  Gold Adj Close         179 non-null    float64
 16  Gold Volume            179 non-null    int64
 17  Brent Open             179 non-null    float64
 18  Brent High             179 non-null    float64
 19  Brent Low              179 non-null    float64
 20  Brent Close            179 non-null    float64
 21  Brent Adj Close        179 non-null    float64
 22  Brent Volume           179 non-null    int64
 23  Eur-USD Open           179 non-null    float64
 24  Eur-USD High           179 non-null    float64
 25  Eur-USD Low            179 non-null    float64
 26  Eur-USD Close          179 non-null    float64
 27  Eur-USD Adj Close      179 non-null    float64
 28  Excess Mortality UE %  179 non-null    float64
dtypes: float64(25), int64(3), object(1)
memory usage: 40.7+ KB