<a href="https://colab.research.google.com/github/Manilab2309/ia-machine-learning/blob/main/lab/NB_analyst_broker_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [133]:
print("Welcome aboard! Ramon!, now you're working on Jupyter & Visual Studio Code")

Welcome aboard! Ramon!, now you're working on Jupyter & Visual Studio Code

# ***Inicialization***
Global configuration

In [36]:
# Import libraries
import pandas as pd
import datetime
import calendar
import math

# Colab limits by default table size to 25 columns
#from google.colab.data_table import DataTable
#DataTable.max_columns = 100

# Data Loader
Read sources:


*   Ibex35
*   IPC
*   Euribor
*   Gold
*   Brent
*   Dolar/Euro
*   Mortality EU

## Read Ibex35 2023
Read from Github.com Ibex35 2023

Source: https://es.finance.yahoo.com/quote/%5EIBEX/history

In [57]:
df_ibex_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/ibex35_2023.csv')

## Read IPC 2023
Read from Github.com IPC 2023 in this example we added two interesting clauses
 - on_bad_lines='skip' --> Very useful to force read csv files
 - sep = ';'           --> To customize char delimiter, by default is , When you get csv from excel, its set ; as delimiter then conflicts with panda parser.

Source: https://www.ine.es/prensa/ipc_tabla.htm

In [61]:
df_ipc_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/IPC-2023.csv', on_bad_lines='skip', sep = ';')

## Read Euribor 2023
Read from Github.com Euribor 2023

Source: https://datosmacro.expansion.com/hipotecas/euribor?dr=2024-01

In [60]:
df_euribor_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Euribor-2023.csv', on_bad_lines='skip', sep = ';')

## Read Gold 2023
Read from Github.com Oro 2023

Source: https://es.finance.yahoo.com/quote/GC%3DF/history

In [138]:
df_gold_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Oro-2023.csv', on_bad_lines='skip', sep = ';')

## Read Brent 2023
Read from Github.com Petroleo 2023
Source: https://es.finance.yahoo.com/quote/BZ%3DF/history

In [139]:
df_brent_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Brent-2023.csv', on_bad_lines='skip', sep = ';')

## Read Dolar/Euro 2023
Read from Github.com $/Euro 2023

Source: https://es.finance.yahoo.com/quote/EURUSD%3DX/history

In [140]:
df_dolar_euro_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Dolar-Euro-2023.csv', on_bad_lines='skip', sep = ';')

## Excess mortality by month Euro 2023
Read from Github.com Mortality European

Source: https://ec.europa.eu/eurostat/databrowser/view/demo_mexrt/default/table?lang=en

In [141]:
df_excess_mortality_2023 = pd.read_csv('https://raw.githubusercontent.com/Manilab2309/ia-machine-learning/main/samples/Excess_mortality_by_month_2023.csv', on_bad_lines='skip', sep = ',')

# Data Formatter

 Global considerations:
 - Rename columns to be more specific
 - Floats will have . as separator decimal position
 - Floats will have only 2 decimal positions
 - Dates will have this format: 2023-01-02

## Formatter Ibex35 2023

Ibex35 csv source contains this format:

- 8297.900391 (float64) --> 8297.90 (float64) We only need 2 decimal positions and . with decimal separator token char

In [59]:
# Actual situation
df_ibex_2023.head()

         Date    Open    High     Low   Close  Adj Close     Volume
0  2023-01-02 8297.90 8384.90 8283.70 8369.70    8369.70   92193500
1  2023-01-03 8367.50 8454.30 8327.40 8397.40    8397.40  164671600
2  2023-01-04 8442.10 8560.50 8442.10 8559.80    8559.80  206752400
3  2023-01-05 8530.10 8618.90 8527.70 8607.60    8607.60  182438200
4  2023-01-06 8608.50 8701.10 8589.20 8701.10    8701.10  162161400

In [64]:
# Actual datatypes
df_ibex_2023.dtypes

Date          object
Open         float64
High         float64
Low          float64
Close        float64
Adj Close    float64
Volume         int64
dtype: object

In [65]:
# Rename columns for later merge with other tables with similar named columns
df_ibex_2023 = df_ibex_2023.rename(columns={'Fecha': 'Date', 'Open': 'Ibex Open','High': 'Ibex High','Low': 'Ibex Low','Close': 'Ibex Close','Adj Close': 'Ibex Adj Close','Volume': 'Ibex Volume'})
df_ibex_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume
0,2023-01-02,8297.90,8384.90,8283.70,8369.70,8369.70,92193500
1,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600
2,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400
3,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200
4,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400
...,...,...,...,...,...,...,...
250,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300
251,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000
252,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500
253,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800
254,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700

In [66]:
# 8297.900391 (float64) --> 8297.90 (float64) We only need 2 decimal positions and . with decimal separator token char
pd.options.display.float_format = '{:.2f}'.format
df_ibex_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume
0,2023-01-02,8297.90,8384.90,8283.70,8369.70,8369.70,92193500
1,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600
2,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400
3,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200
4,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400
...,...,...,...,...,...,...,...
250,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300
251,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000
252,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500
253,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800
254,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700

# ***IPC - 2023 Year***

In [182]:
df_ipc_2023.dtypes

Date                     object
IPC Interanual %         object
IPC Acum Jan %           object
IPC Month Variation %    object
dtype: object

In [63]:
# Show table
df_ipc_2023.head()

  Mes IPC IPC Interanual IPC Acum Enero IPC Variacion Mensual
0  dec-23          3,10%          3,10%                    0%
1  nov-23          3,20%          3,10%                -0,30%
2  oct-23          3,50%          3,40%                 0,30%
3  sep-23          3,50%          3,10%                 0,20%
4  aug-23          2,60%          3,00%                 0,50%

In [156]:
# Rename column if you need
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

#In this example, lets translate headers to english and add % simbol, remember cells must be desired numbers or float format
df_ipc_2023 = df_ipc_2023.rename(columns={'Mes IPC': 'Month'})
df_ipc_2023 = df_ipc_2023.rename(columns={'IPC Interanual': 'IPC Interanual %'})
df_ipc_2023 = df_ipc_2023.rename(columns={'IPC Acum Enero': 'IPC Acum Jan %'})
df_ipc_2023 = df_ipc_2023.rename(columns={'IPC Variacion Mensual': 'IPC Month Variation %'})

df_ipc_2023

     Month IPC Interanual % IPC Acum Jan % IPC Month Variation %
0   dec-23            3,10%          3,10%                    0%
1   nov-23            3,20%          3,10%                -0,30%
2   oct-23            3,50%          3,40%                 0,30%
3   sep-23            3,50%          3,10%                 0,20%
4   aug-23            2,60%          3,00%                 0,50%
5   jul-23            2,30%          2,40%                 0,20%
6   jun-23            1,90%          2,20%                 0,60%
7   may-23            3,20%          1,70%                    0%
8   apr-23            4,10%          1,70%                 0,60%
9   mar-23            3,30%          1,10%                 0,40%
10  feb-23            6,00%          0,70%                 0,90%
11  jan-23            5,90%         -0,20%                -0,20%

In [157]:
# If you want capitalize strings
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.Series.str.capitalize.html

df_ipc_2023['Month'] = df_ipc_2023['Month'].str.capitalize()
df_ipc_2023['Month']

0     Dec-23
1     Nov-23
2     Oct-23
3     Sep-23
4     Aug-23
5     Jul-23
6     Jun-23
7     May-23
8     Apr-23
9     Mar-23
10    Feb-23
11    Jan-23
Name: Month, dtype: object

In [158]:
# We need to transform the dates from: dic-23 to 2023-12-01, then we will have an aproximation to standard date time zones
# Documentation: https://strftime.org/
# Utils: https://strftime.net/

df_ipc_2023['Month'] = pd.to_datetime(df_ipc_2023['Month'],format='%b-%y').dt.strftime('%Y-%m-%d')
df_ipc_2023

         Month IPC Interanual % IPC Acum Jan % IPC Month Variation %
0   2023-12-01            3,10%          3,10%                    0%
1   2023-11-01            3,20%          3,10%                -0,30%
2   2023-10-01            3,50%          3,40%                 0,30%
3   2023-09-01            3,50%          3,10%                 0,20%
4   2023-08-01            2,60%          3,00%                 0,50%
5   2023-07-01            2,30%          2,40%                 0,20%
6   2023-06-01            1,90%          2,20%                 0,60%
7   2023-05-01            3,20%          1,70%                    0%
8   2023-04-01            4,10%          1,70%                 0,60%
9   2023-03-01            3,30%          1,10%                 0,40%
10  2023-02-01            6,00%          0,70%                 0,90%
11  2023-01-01            5,90%         -0,20%                -0,20%

In [159]:
# TODO: Remove % from cells
df_ipc_2023['IPC Interanual %'] = df_ipc_2023['IPC Interanual %'].str.replace("%", "")
df_ipc_2023['IPC Acum Jan %'] = df_ipc_2023['IPC Acum Jan %'].str.replace("%", "")
df_ipc_2023['IPC Month Variation %'] = df_ipc_2023['IPC Month Variation %'].str.replace("%", "")

# We can define variables to use in another cells
column_A_Renamed = 'Date'
column_B_Renamed = 'IPC Interanual %'
column_C_Renamed = 'IPC Acum Jan %'
column_D_Renamed = 'IPC Month Variation %'

In [160]:
# Now we need expand the table

# Declare new Dataframe
df_ipc_2023_expanded = pd.DataFrame()
df_ipc_2023_expanded = pd.DataFrame(columns=[column_A_Renamed, column_B_Renamed, column_C_Renamed, column_D_Renamed])
# Variables column_x_Renamed are initialized in previos cell execution

for i in df_ipc_2023.index:

    instantDate = datetime.datetime.strptime(df_ipc_2023['Month'][i], '%Y-%m-%d')
    year = instantDate.year
    month = instantDate.month
    num_days = calendar.monthrange(year, month)[1]
    days = [datetime.date(year, month, day).strftime('%Y-%m-%d') for day in range(1, num_days+1)]

    for d in days:
      # Add values to new dataframe
      df_ipc_2023_expanded.loc[len(df_ipc_2023_expanded.index)] = [d, df_ipc_2023[column_B_Renamed][i], df_ipc_2023[column_C_Renamed][i],df_ipc_2023[column_D_Renamed][i]]

df_ipc_2023_expanded

           Date IPC Interanual % IPC Acum Jan % IPC Month Variation %
0    2023-12-01             3,10           3,10                     0
1    2023-12-02             3,10           3,10                     0
2    2023-12-03             3,10           3,10                     0
3    2023-12-04             3,10           3,10                     0
4    2023-12-05             3,10           3,10                     0
..          ...              ...            ...                   ...
360  2023-01-27             5,90          -0,20                 -0,20
361  2023-01-28             5,90          -0,20                 -0,20
362  2023-01-29             5,90          -0,20                 -0,20
363  2023-01-30             5,90          -0,20                 -0,20
364  2023-01-31             5,90          -0,20                 -0,20

[365 rows x 4 columns]

# ***Merge Tables IPC & Ibex 2023***

In [161]:
# Merge tables
# To merge tables, you will need match key columns, in this case we cant
# mix by date key:
#
#     df_ibex_2023  --> calendar information is under header: Date
#     df_ipc_2023   --> calendar information is under header: Month
# so we need both with same name column
df_ipc_2023 = df_ipc_2023.rename(columns={'Month': 'Date'})

# Now we have both tables with 'Date' name, this will be set as key merge
# operation config:
df_merged = df_ibex_2023.merge(df_ipc_2023, on="Date")
df_merged

# You will see on result table that only 7 dates are in both tables, this
# represents an intersection

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %
0,2023-02-01,9048.00,9126.60,9046.20,9098.10,9098.10,236081200,"6,00","0,70","0,90"
1,2023-03-01,9419.30,9453.80,9307.40,9322.90,9322.90,187235400,"3,30","1,10","0,40"
2,2023-06-01,9130.30,9181.60,9105.90,9167.50,9167.50,109883600,"1,90","2,20","0,60"
3,2023-08-01,9639.90,9657.20,9491.70,9502.90,9502.90,136369400,"2,60","3,00","0,50"
4,2023-09-01,9512.80,9552.90,9449.60,9449.60,9449.60,108269100,"3,50","3,10","0,20"
5,2023-11-01,9039.80,9093.30,8999.80,9075.00,9075.00,121703800,"3,20","3,10","-0,30"
6,2023-12-01,10085.90,10140.80,10080.90,10140.80,10140.80,117751200,"3,10","3,10",0

In [162]:
# We can locate one match to check if exists in both tables
# Documentation: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.loc.html

# Per example, Id 0 row with date 2023-02-01 is in ibex original table:
df_ibex_2023.loc[df_ibex_2023['Date'] == '2023-02-01']

# is in 3rd position

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume
22,2023-02-01,9048.00,9126.60,9046.20,9098.10,9098.10,236081200

In [163]:
# Per example, Id 0 row with date 2023-02-01 is in ipc original table:
df_ipc_2023.loc[df_ipc_2023['Date'] == '2023-02-01']

# is in 10º position

          Date IPC Interanual % IPC Acum Jan % IPC Month Variation %
10  2023-02-01             6,00           0,70                  0,90

In [164]:
# Now in our 2023 Study we will merge ipc and ibex table information with same format dates and same column name in this case
dfm_ibex_ipc_2023 = df_ibex_2023.merge(df_ipc_2023_expanded, on="Date")
dfm_ibex_ipc_2023

# YEAH !! Welcome to your first cross data tables! Now  you have all 2023 with broker values ibex and their
# IPC information related at same table

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %
0,2023-01-02,8297.90,8384.90,8283.70,8369.70,8369.70,92193500,"5,90","-0,20","-0,20"
1,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,"5,90","-0,20","-0,20"
2,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,"5,90","-0,20","-0,20"
3,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,"5,90","-0,20","-0,20"
4,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,"5,90","-0,20","-0,20"
...,...,...,...,...,...,...,...,...,...,...
250,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,"3,10","3,10",0
251,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,"3,10","3,10",0
252,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,"3,10","3,10",0
253,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,"3,10","3,10",0
254,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,"3,10","3,10",0

# ***Merge Tables IPC & Ibex & Euribor 2023***

In [165]:
# Now in our 2023 Study we will merge previous table information (ibex and ipc 2023) with same format dates and same column name in this case against euribor 2023 table
# First we normalize columns name in input table euribor 2023
df_euribor_2023 = df_euribor_2023.rename(columns={'Fecha': 'Date'})

In [166]:
# Merge tables
dfm_ibex_ipc_euribor_2023 = dfm_ibex_ipc_2023.merge(df_euribor_2023, on="Date")
dfm_ibex_ipc_euribor_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,Euribor Type
0,2023-01-02,8297.90,8384.90,8283.70,8369.70,8369.70,92193500,"5,90","-0,20","-0,20","3,32%"
1,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,"5,90","-0,20","-0,20","3,32%"
2,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,"5,90","-0,20","-0,20","3,31%"
3,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,"5,90","-0,20","-0,20","3,30%"
4,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,"5,90","-0,20","-0,20","3,33%"
...,...,...,...,...,...,...,...,...,...,...,...
254,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,"3,10","3,10",0,"3,58%"
255,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,"3,10","3,10",0,"3,58%"
256,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,"3,10","3,10",0,"3,55%"
257,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,"3,10","3,10",0,"3,54%"
258,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,"3,10","3,10",0,"3,51%"

# ***Merge Tables IPC & Ibex & Gold 2023***

In [167]:
# Now in our 2023 Study we will merge previous table information (ibex and ipc and euribor2023) with same format dates and same column name in this case against gold 2023 table
# First we normalize columns name in input table gold 2023
df_gold_2023 = df_gold_2023.rename(columns={'Fecha': 'Date', 'Abrir': 'Gold Open','Máx.': 'Gold High','Mín.': 'Gold Low','Cierre': 'Gold Close','Cierre ajus': 'Gold Adj Close','Volumen': 'Gold Volume'})
df_gold_2023

,Date,Gold Open,Gold High,Gold Low,Gold Close,Gold Adj Close,Gold Volume
0,2023-12-29,2068,"2068,9","2062,1","2062,4","2062,4",47
1,2023-12-28,"2081,6","2087,3","2066,5","2073,9","2073,9",338
2,2023-12-27,"2067,3","2081,9","2064,8","2081,9","2081,9",586
3,2023-12-26,2060,"2060,8","2054,2","2058,2","2058,2",64
4,2023-12-22,"2055,7","2068,7","2052,2","2057,1","2057,1",202
...,...,...,...,...,...,...,...
246,2023-01-09,1867,1880,1867,"1872,7","1872,7",62
247,2023-01-06,"1838,4","1868,2","1835,3","1864,2","1864,2",26
248,2023-01-05,"1855,2","1855,2","1834,8","1834,8","1834,8",24
249,2023-01-04,"1845,6","1859,1","1845,6","1852,8","1852,8",25
250,2023-01-03,"1836,2","1839,7","1836,2","1839,7","1839,7",29

In [168]:
# Merge tables
dfm_ibex_ipc_euribor_gold_2023 = dfm_ibex_ipc_euribor_2023.merge(df_gold_2023, on="Date")
dfm_ibex_ipc_euribor_gold_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,Euribor Type,Gold Open,Gold High,Gold Low,Gold Close,Gold Adj Close,Gold Volume
0,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,"5,90","-0,20","-0,20","3,32%","1836,2","1839,7","1836,2","1839,7","1839,7",29
1,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,"5,90","-0,20","-0,20","3,31%","1845,6","1859,1","1845,6","1852,8","1852,8",25
2,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,"5,90","-0,20","-0,20","3,30%","1855,2","1855,2","1834,8","1834,8","1834,8",24
3,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,"5,90","-0,20","-0,20","3,33%","1838,4","1868,2","1835,3","1864,2","1864,2",26
4,2023-01-09,8691.00,8721.60,8661.40,8694.90,8694.90,215668200,"5,90","-0,20","-0,20","3,33%",1867,1880,1867,"1872,7","1872,7",62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,"3,10","3,10",0,"3,58%","2035,8","2044,5",2033,"2039,1","2039,1",228
218,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,"3,10","3,10",0,"3,58%","2055,7","2068,7","2052,2","2057,1","2057,1",202
219,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,"3,10","3,10",0,"3,55%","2067,3","2081,9","2064,8","2081,9","2081,9",586
220,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,"3,10","3,10",0,"3,54%","2081,6","2087,3","2066,5","2073,9","2073,9",338
221,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,"3,10","3,10",0,"3,51%",2068,"2068,9","2062,1","2062,4","2062,4",47

# ***Merge Tables IPC & Ibex & Gold & Brent 2023***

In [169]:
# Now in our 2023 Study we will merge previous table information (ibex and ipc and euribor and gold 2023) with same format dates and same column name in this case against brent 2023 table
# First we normalize columns name in input table brent 2023
df_brent_2023 = df_brent_2023.rename(columns={'Fecha': 'Date', 'Abrir': 'Brent Open','Máx.': 'Brent High','Mín.': 'Brent Low','Cierre': 'Brent Close','Cierre ajus': 'Brent Adj Close','Volumen': 'Brent Volume'})
df_brent_2023

,Date,Brent Open,Brent High,Brent Low,Brent Close,Brent Adj Close,Brent Volume
0,2023-12-29,"77,42","77,97","76,75","77,04","77,04",20.115
1,2023-12-28,"79,84","79,96","78,34","78,39","78,39",24.301
2,2023-12-27,"80,74","81,32","79,49","79,65","79,65",8282
3,2023-12-26,"79,19","81,71","78,81","81,07","81,07",10.247
4,2023-12-22,"79,44","80,37","78,83","79,07","79,07",12.334
...,...,...,...,...,...,...,...
246,2023-01-09,"78,48","81,37","78,34","79,65","79,65",29.985
247,2023-01-06,"78,81","80,57","78,05","78,57","78,57",23.767
248,2023-01-05,"78,09","79,96","77,61","78,69","78,69",28.051
249,2023-01-04,"82,23","82,67","77,72","77,84","77,84",24.772
250,2023-01-03,"86,04","87,02","81,77","82,1","82,1",27.559

In [170]:
# Merge tables
dfm_ibex_ipc_euribor_gold_brent_2023 = dfm_ibex_ipc_euribor_gold_2023.merge(df_brent_2023, on="Date")
dfm_ibex_ipc_euribor_gold_brent_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,...,Gold Low,Gold Close,Gold Adj Close,Gold Volume,Brent Open,Brent High,Brent Low,Brent Close,Brent Adj Close,Brent Volume
0,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,"5,90","-0,20","-0,20",...,"1836,2","1839,7","1839,7",29,"86,04","87,02","81,77","82,1","82,1",27.559
1,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,"5,90","-0,20","-0,20",...,"1845,6","1852,8","1852,8",25,"82,23","82,67","77,72","77,84","77,84",24.772
2,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,"5,90","-0,20","-0,20",...,"1834,8","1834,8","1834,8",24,"78,09","79,96","77,61","78,69","78,69",28.051
3,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,"5,90","-0,20","-0,20",...,"1835,3","1864,2","1864,2",26,"78,81","80,57","78,05","78,57","78,57",23.767
4,2023-01-09,8691.00,8721.60,8661.40,8694.90,8694.90,215668200,"5,90","-0,20","-0,20",...,1867,"1872,7","1872,7",62,"78,48","81,37","78,34","79,65","79,65",29.985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,"3,10","3,10",0,...,2033,"2039,1","2039,1",228,"79,14","80,12","77,85","79,39","79,39",22.237
218,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,"3,10","3,10",0,...,"2052,2","2057,1","2057,1",202,"79,44","80,37","78,83","79,07","79,07",12.334
219,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,"3,10","3,10",0,...,"2064,8","2081,9","2081,9",586,"80,74","81,32","79,49","79,65","79,65",8282
220,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,"3,10","3,10",0,...,"2066,5","2073,9","2073,9",338,"79,84","79,96","78,34","78,39","78,39",24.301
221,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,"3,10","3,10",0,...,"2062,1","2062,4","2062,4",47,"77,42","77,97","76,75","77,04","77,04",20.115

# ***Merge Tables IPC & Ibex & Gold & Brent & Dolar/Euro 2023***

In [171]:
# Now in our 2023 Study we will merge previous table information (ibex and ipc and euribor and gold and brent 2023) with same format dates and same column name in this case against dolar/eur 2023 table
# First we normalize columns name in input table dolar/euro 2023
df_dolar_euro_2023 = df_dolar_euro_2023.rename(columns={'Fecha': 'Date', 'Abrir': 'Eur-USD Open','Máx.': 'Eur-USD High','Mín.': 'Eur-USD Low','Cierre': 'Eur-USD Close','Cierre ajus': 'Eur-USD Adj Close'})
df_dolar_euro_2023

,Date,Eur-USD Open,Eur-USD High,Eur-USD Low,Eur-USD Close,Eur-USD Adj Close
0,2023-12-29,"1,1068","1,1086","1,1043","1,1068","1,1068"
1,2023-12-28,"1,1109","1,1139","1,1071","1,1109","1,1109"
2,2023-12-27,"1,1043","1,1122","1,1029","1,1043","1,1043"
3,2023-12-26,"1,102","1,104","1,101","1,102","1,102"
4,2023-12-25,"1,1027","1,1042","1,1","1,1027","1,1027"
...,...,...,...,...,...,...
255,2023-01-06,"1,0522","1,0622","1,0485","1,0522","1,0522"
256,2023-01-05,"1,0606","1,0633","1,0516","1,0606","1,0606"
257,2023-01-04,"1,0547","1,0632","1,0546","1,0547","1,0547"
258,2023-01-03,"1,0678","1,0683","1,0522","1,0678","1,0678"
259,2023-01-02,"1,071","1,0712","1,0653","1,071","1,071"

In [172]:
# Merge tables
dfm_ibex_ipc_euribor_gold_brent_eurUSD_2023 = dfm_ibex_ipc_euribor_gold_brent_2023.merge(df_dolar_euro_2023, on="Date")
dfm_ibex_ipc_euribor_gold_brent_eurUSD_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,...,Brent High,Brent Low,Brent Close,Brent Adj Close,Brent Volume,Eur-USD Open,Eur-USD High,Eur-USD Low,Eur-USD Close,Eur-USD Adj Close
0,2023-01-03,8367.50,8454.30,8327.40,8397.40,8397.40,164671600,"5,90","-0,20","-0,20",...,"87,02","81,77","82,1","82,1",27.559,"1,0678","1,0683","1,0522","1,0678","1,0678"
1,2023-01-04,8442.10,8560.50,8442.10,8559.80,8559.80,206752400,"5,90","-0,20","-0,20",...,"82,67","77,72","77,84","77,84",24.772,"1,0547","1,0632","1,0546","1,0547","1,0547"
2,2023-01-05,8530.10,8618.90,8527.70,8607.60,8607.60,182438200,"5,90","-0,20","-0,20",...,"79,96","77,61","78,69","78,69",28.051,"1,0606","1,0633","1,0516","1,0606","1,0606"
3,2023-01-06,8608.50,8701.10,8589.20,8701.10,8701.10,162161400,"5,90","-0,20","-0,20",...,"80,57","78,05","78,57","78,57",23.767,"1,0522","1,0622","1,0485","1,0522","1,0522"
4,2023-01-09,8691.00,8721.60,8661.40,8694.90,8694.90,215668200,"5,90","-0,20","-0,20",...,"81,37","78,34","79,65","79,65",29.985,"1,0656","1,076","1,0653","1,0656","1,0656"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,2023-12-21,10065.40,10108.50,10063.30,10104.30,10104.30,84138300,"3,10","3,10",0,...,"80,12","77,85","79,39","79,39",22.237,"1,0946","1,1","1,0936","1,0946","1,0946"
218,2023-12-22,10094.10,10143.10,10081.00,10111.90,10111.90,91972000,"3,10","3,10",0,...,"80,37","78,83","79,07","79,07",12.334,"1,1006","1,1041","1,0994","1,1006","1,1006"
219,2023-12-27,10091.80,10146.80,10077.90,10121.80,10121.80,130947500,"3,10","3,10",0,...,"81,32","79,49","79,65","79,65",8282,"1,1043","1,1122","1,1029","1,1043","1,1043"
220,2023-12-28,10126.30,10136.30,10074.60,10086.20,10086.20,95148800,"3,10","3,10",0,...,"79,96","78,34","78,39","78,39",24.301,"1,1109","1,1139","1,1071","1,1109","1,1109"
221,2023-12-29,10090.90,10143.60,10090.90,10102.10,10102.10,101943700,"3,10","3,10",0,...,"77,97","76,75","77,04","77,04",20.115,"1,1068","1,1086","1,1043","1,1068","1,1068"

# ***Excess Mortality Indicator European 2023***

WARNING: January and December 2023 pending

In [173]:
df_excess_mortality_2023

,DATAFLOW,LAST UPDATE,freq,unit,geo,TIME_PERIOD,OBS_VALUE,OBS_FLAG
0,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-02,-1.10,p
1,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-03,1.30,p
2,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-04,4.30,p
3,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-05,3.60,p
4,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-06,3.00,p
5,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-07,2.50,p
6,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-08,4.10,p
7,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-09,4.20,p
8,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-10,4.60,p
9,ESTAT:DEMO_MEXRT(1.0),16/01/24 11:00:00,M,PC,EU27_2020,2023-11,7.70,p

In [174]:
# To check table info
df_excess_mortality_2023.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATAFLOW     10 non-null     object
 1   LAST UPDATE  10 non-null     object
 2   freq         10 non-null     object
 3   unit         10 non-null     object
 4   geo          10 non-null     object
 5   TIME_PERIOD  10 non-null     object
 6   OBS_VALUE    10 non-null     float64
 7   OBS_FLAG     10 non-null     object
dtypes: float64(1), object(7)
memory usage: 772.0+ bytes

In [175]:
# Ok, we'll need only two columns, dates and values
df_excess_mortality_reduced_2023 = df_excess_mortality_2023[['TIME_PERIOD', 'OBS_VALUE']]
df_excess_mortality_reduced_2023

  TIME_PERIOD  OBS_VALUE
0     2023-02      -1.10
1     2023-03       1.30
2     2023-04       4.30
3     2023-05       3.60
4     2023-06       3.00
5     2023-07       2.50
6     2023-08       4.10
7     2023-09       4.20
8     2023-10       4.60
9     2023-11       7.70

In [176]:
# Rename columns
df_excess_mortality_reduced_2023 = df_excess_mortality_reduced_2023.rename(columns={'TIME_PERIOD': 'Date', 'OBS_VALUE': 'Excess Mortality UE %'})
df_excess_mortality_reduced_2023

      Date  Excess Mortality UE %
0  2023-02                  -1.10
1  2023-03                   1.30
2  2023-04                   4.30
3  2023-05                   3.60
4  2023-06                   3.00
5  2023-07                   2.50
6  2023-08                   4.10
7  2023-09                   4.20
8  2023-10                   4.60
9  2023-11                   7.70

In [177]:
# Standarize the dates
df_excess_mortality_reduced_2023['Date'] = pd.to_datetime(df_excess_mortality_reduced_2023['Date'],format='%Y-%m').dt.strftime('%Y-%m-%d')
df_excess_mortality_reduced_2023

         Date  Excess Mortality UE %
0  2023-02-01                  -1.10
1  2023-03-01                   1.30
2  2023-04-01                   4.30
3  2023-05-01                   3.60
4  2023-06-01                   3.00
5  2023-07-01                   2.50
6  2023-08-01                   4.10
7  2023-09-01                   4.20
8  2023-10-01                   4.60
9  2023-11-01                   7.70

In [178]:
# Now we need expand the table

# We can define variables to use in another cells
column_A_Renamed = 'Date'
column_B_Renamed = 'Excess Mortality UE %'

# Declare new Dataframe
df_excess_mortality_expanded_2023 = pd.DataFrame()
df_excess_mortality_expanded_2023 = pd.DataFrame(columns=[column_A_Renamed, column_B_Renamed])
# Variables column_x_Renamed are initialized in previos cell execution

for i in df_excess_mortality_reduced_2023.index:

    instantDate = datetime.datetime.strptime(df_excess_mortality_reduced_2023['Date'][i], '%Y-%m-%d')
    year = instantDate.year
    month = instantDate.month
    num_days = calendar.monthrange(year, month)[1]
    days = [datetime.date(year, month, day).strftime('%Y-%m-%d') for day in range(1, num_days+1)]

    for d in days:
      # Add values to new dataframe
      df_excess_mortality_expanded_2023.loc[len(df_excess_mortality_expanded_2023.index)] = [d, df_excess_mortality_reduced_2023[column_B_Renamed][i]]

df_excess_mortality_expanded_2023

           Date  Excess Mortality UE %
0    2023-02-01                  -1.10
1    2023-02-02                  -1.10
2    2023-02-03                  -1.10
3    2023-02-04                  -1.10
4    2023-02-05                  -1.10
..          ...                    ...
298  2023-11-26                   7.70
299  2023-11-27                   7.70
300  2023-11-28                   7.70
301  2023-11-29                   7.70
302  2023-11-30                   7.70

[303 rows x 2 columns]

# ***Merge Tables IPC & Ibex & Gold & Brent & Dolar/Euro & Excess Mortality 2023***

WARNING: Due to pending January/December 2023 merge will crop both months

In [179]:
# Merge tables
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023 = dfm_ibex_ipc_euribor_gold_brent_eurUSD_2023.merge(df_excess_mortality_expanded_2023, on="Date")
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023

,Date,Ibex Open,Ibex High,Ibex Low,Ibex Close,Ibex Adj Close,Ibex Volume,IPC Interanual %,IPC Acum Jan %,IPC Month Variation %,...,Brent Low,Brent Close,Brent Adj Close,Brent Volume,Eur-USD Open,Eur-USD High,Eur-USD Low,Eur-USD Close,Eur-USD Adj Close,Excess Mortality UE %
0,2023-02-01,9048.00,9126.60,9046.20,9098.10,9098.10,236081200,"6,00","0,70","0,90",...,"82,37","82,84","82,84",28.085,"1,0861","1,0924","1,0853","1,0861","1,0861",-1.10
1,2023-02-02,9144.10,9281.40,9133.10,9229.70,9229.70,364813600,"6,00","0,70","0,90",...,"81,24","82,17","82,17",24.611,"1,1013","1,1027","1,0888","1,1013","1,1013",-1.10
2,2023-02-03,9214.20,9248.50,9155.60,9225.60,9225.60,297607800,"6,00","0,70","0,90",...,"79,62","79,94","79,94",24.743,"1,0905","1,0941","1,0811","1,0905","1,0905",-1.10
3,2023-02-06,9174.80,9198.60,9124.80,9159.20,9159.20,148027100,"6,00","0,70","0,90",...,"79,09","80,99","80,99",31.365,"1,0791","1,08","1,0718","1,0791","1,0791",-1.10
4,2023-02-07,9165.80,9204.30,9149.80,9172.40,9172.40,145446500,"6,00","0,70","0,90",...,"81,18","83,69","83,69",24.432,"1,0731","1,0746","1,067","1,0731","1,0731",-1.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,2023-11-28,9925.20,10014.30,9919.50,10003.40,10003.40,118647800,"3,20","3,10","-0,30",...,"79,83","81,68","81,68",15.095,"1,0958","1,1007","1,0935","1,0958","1,0958",7.70
179,2023-11-29,10018.40,10097.90,10018.40,10062.60,10062.60,129372500,"3,20","3,10","-0,30",...,"80,96","83,1","83,1",8045,"1,1006","1,1017","1,0961","1,1006","1,1006",7.70
180,2023-11-29,10018.40,10097.90,10018.40,10062.60,10062.60,129372500,"3,20","3,10","-0,30",...,"80,96","83,1","83,1",8045,"1,1006","1,1017","1,0961","1,1006","1,1006",7.70
181,2023-11-30,10079.30,10103.80,10053.80,10058.20,10058.20,252839300,"3,20","3,10","-0,30",...,"82,67","82,83","82,83",59.320,"1,0974","1,0985","1,0895","1,0974","1,0974",7.70
182,2023-11-30,10079.30,10103.80,10053.80,10058.20,10058.20,252839300,"3,20","3,10","-0,30",...,"82,67","82,83","82,83",59.320,"1,0974","1,0985","1,0895","1,0974","1,0974",7.70

In [180]:
# Let's check thetypes fields, its important avoid object types, use float or int
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183 entries, 0 to 182
Data columns (total 29 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   183 non-null    object
 1   Ibex Open              183 non-null    float64
 2   Ibex High              183 non-null    float64
 3   Ibex Low               183 non-null    float64
 4   Ibex Close             183 non-null    float64
 5   Ibex Adj Close         183 non-null    float64
 6   Ibex Volume            183 non-null    int64
 7   IPC Interanual %       183 non-null    object
 8   IPC Acum Jan %         183 non-null    object
 9   IPC Month Variation %  183 non-null    object
 10  Euribor Type           183 non-null    object
 11  Gold Open              183 non-null    object
 12  Gold High              183 non-null    object
 13  Gold Low               183 non-null    object
 14  Gold Close             183 non-null    object
 15  Gold Adj Close         183 non-null    object
 16  Gold Volume            183 non-null    object
 17  Brent Open             183 non-null    object
 18  Brent High             183 non-null    object
 19  Brent Low              183 non-null    object
 20  Brent Close            183 non-null    object
 21  Brent Adj Close        183 non-null    object
 22  Brent Volume           183 non-null    object
 23  Eur-USD Open           183 non-null    object
 24  Eur-USD High           183 non-null    object
 25  Eur-USD Low            183 non-null    object
 26  Eur-USD Close          183 non-null    object
 27  Eur-USD Adj Close      183 non-null    object
 28  Excess Mortality UE %  183 non-null    float64
dtypes: float64(6), int64(1), object(22)
memory usage: 41.6+ KB

In [181]:
# Standarize dataType (REVIEW)

dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023['Ibex Open'] = pd.to_numeric(dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023['Ibex Open'])
dfm_ibex_ipc_euribor_gold_brent_eurUSD_mortality_2023['Ibex Open']

0      9048.00
1      9144.10
2      9214.20
3      9174.80
4      9165.80
        ...
178    9925.20
179   10018.40
180   10018.40
181   10079.30
182   10079.30
Name: Ibex Open, Length: 183, dtype: float64

TODO: , and . standarize in cells